In [1]:
import pandas as pd

In [ ]:
!ls ./data/ednet

In [4]:
ednet_data = pd.read_csv('./data/ednet/preprocessed_data.csv')

In [6]:
ednet_data = ednet_data[['user_id', 'timestamp', 'item_id', 'correct']]

In [8]:
ednet_data.head(100)

    user_id  timestamp  item_id  correct
0        18    1765349      589     True
1        18    1765383      832     True
2        18    1765410     1193     True
3        18    1765437      757    False
4        18    1765466     1075    False
..      ...        ...      ...      ...
95       31      46217     4916    False
96       31      46254     5127     True
97       31      46359    10738    False
98       31      46359    10736     True
99       31      46359    10737     True

[100 rows x 4 columns]

In [9]:
import pickle

with open('/root/lpp/data/ednet/tcr_user_split.pkl', 'rb') as file:
    ednet_split = pickle.load(file)

In [ ]:
with open('/root/lpp/data/ednet/ednet_user_split.pkl', 'rb') as file:
    past_ednet_split = pickle.load(file)

In [10]:
len(ednet_data['user_id'].unique())

948016

In [11]:
len(ednet_split[0]) + len(ednet_split[1]) + len(ednet_split[2])

948016

In [12]:
ednet_split[0]

array([1300123, 1512390,  853277, ..., 1159082, 1016171, 1301228])

In [13]:
import random

In [20]:
mini_train = random.sample(set(ednet_split[0]), len(ednet_split[0])//100)
mini_val = random.sample(set(ednet_split[1]), len(ednet_split[1])//100)
mini_test = random.sample(set(ednet_split[2]), len(ednet_split[2])//100)

In [30]:
ednet_data.shape

(96706140, 4)

In [31]:
ednet_data = ednet_data.set_index(['user_id', 'timestamp'])

In [ ]:
ednet_data.loc[ednet_split[0]].to_csv('./data/ednet/preprocessed_data_train.csv')
ednet_data.loc[ednet_split[2]].to_csv('./data/ednet/preprocessed_data_test.csv')

In [ ]:
past_ednet_data = pd.read_csv('./data/ednet/ednet_kt1.csv')

In [36]:
valid_questions = ednet_data.loc[ednet_split[1]]['item_id'].unique()
test_questions = ednet_data.loc[ednet_split[2]]['item_id'].unique()
train_questions = ednet_data.loc[ednet_split[0]]['item_id'].unique()

In [43]:
(set(valid_questions) - set(train_questions))

{2013, 5745, 6361}

In [33]:
ednet_mini_val = ednet_data.loc[mini_val]
ednet_mini_test = ednet_data.loc[mini_test]
ednet_mini_train = ednet_data.loc[mini_train]

In [34]:
ednet_mini_val.reset_index().to_csv('')

       user_id  timestamp  item_id  correct
0       659800     255191     4519     True
1       659800     255249      551     True
2       659800     255268     8423     True
3       659800     255286     5720    False
4       659800     255318     5564    False
...        ...        ...      ...      ...
94132  1311977      67815     5021     True
94133  1311977      67870     3763    False
94134  1311977      67903     3963    False
94135  1311977      67933     9191    False
94136  1311977      67955     5006    False

[94137 rows x 4 columns]

In [ ]:
ednet_mini